.drag-area {
  position: relative;
  height: 100vh;
  border: 1px solid #ccc;
}

.dropped-page {
   position: absolute; 
  width: auto; 
  height: auto; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  background-color: transparent;
  border: none; 
}

.form-container-dd {  
  width: 60px; 
  height: 60px;
  display: flex;  
  align-items: center;  
  justify-content: center;  
  border-radius: 4px;  
  background-color: transparent;
  border: none;  
}  


.form-container.circle {
  border-radius: 50%;
}

.form-container.rectangle {
  border-radius: 8px;
}

.icon {
  color: white; 
  font-size: 32px;
}

.page-title-dd {
  display: block; 
  width: auto; 
  text-align: center; 
  margin-top: 5px; 
  color: #000; 
  font-size: 14px; 
  background-color: transparent; 
}